<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <style>
  h1 {
   text-align: center;
  }
  .container {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .button-container {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .button {
   margin: 0 10px;
  }
 </style>

</head>
<body>
    <h1>Music Player</h1>
    <h1>
    <img src="{{ user_image }}">
    <form action="/on_load_click" method="post">
        <button style="border-color: green; color: black; background-color: white; border-radius: 12px; border-width: 2px; height: 40px;">Cargar</button> 
    </form>
    </h1>
    
   <style>
  .select-box {
    width: 100%;
    text-align: center;
  }

  .select-box select {
    width: 100%;
    font-size: 24px;
  }
</style>
 <div class="select-box">
        <form>
            <label for="songs-select">Select one song:</label>
            <select id="songs-select" size="{{ songs|length }}">
    {% for opcion in songs %}
      <option value="{{ opcion }}">{{ opcion }}</option>
    {% endfor %}
  </select>
  <button id="download" style="border-color: green; color: black; background-color: white; border-radius: 12px; border-width: 2px; height: 40px;">Descargar</button>
  <button id="play" style="border-color: green; color: black; background-color: white; border-radius: 12px; border-width: 2px; height: 40px;">Reproducir</button>
  <button id="stop" style="border-color: green; color: black; background-color: white; border-radius: 12px; border-width: 2px; height: 40px;">Parar</button>
        
        </form>
    </div>
  <script>
     

        const play = document.querySelector('#play');
        const download = document.querySelector('#download');
        const stop = document.querySelector('#stop');
        const sb = document.querySelector('#songs-select');

        play.onclick = (e) => {
            e.preventDefault();
            const selectedValues = [].filter
                .call(sb.options, option => option.selected)
                .map(option => option.text);
             fetch("/on_play_click",{
        "method": "POST",
        body: JSON.stringify({ selectedValues: selectedValues }),
        headers: {
            "Content-Type": "application/json"
        }
    })
        .then(response => response.json())
        .then(data => {
            // Handle the success response
        })
        .catch(error => {
            // Handle the error
        });
    };
        download.onclick = (e) => {
            e.preventDefault();
            const selectedValues = [].filter
                .call(sb.options, option => option.selected)
                .map(option => option.text);
             fetch("/on_download_click",{
        "method": "POST",
        body: JSON.stringify({ selectedValues: selectedValues }),
        headers: {
            "Content-Type": "application/json"
        }
    })
        .then(response => response.json())
        .then(data => {
            // Handle the success response
        })
        .catch(error => {
            // Handle the error
        });
      };
      stop.onclick = (e) => {
            e.preventDefault();
            
             fetch("/on_stop_click",{
        "method": "POST",
        body: JSON.stringify({ selectedValues: selectedValues }),
        headers: {
            "Content-Type": "application/json"
        }
    })
        .then(response => response.json())
        .then(data => {
            // Handle the success response
        })
        .catch(error => {
            // Handle the error
        });
    };
    </script>

</body>
</html>