<!DOCTYPE html>
{%- extends "base.html" %}
<html lang="en">

    {% block title %} DISPOTIFY {% endblock %}


{% block content %}

  <div class="text-center">
    <h1>Music Player

    <img src="{{ user_image }}">
    </h1>
    <div class="text-center">
    <form action="/on_load_click" method="post">
        <button style="border-color: green; color: black; background-color: white; border-radius: 12px; border-width: 2px; height: 40px;">Cargar</button> 
    </form>
  </div>
  </div>
    
   <style>
  .select-box {
    width: 100%;
    text-align: center;
  }

  .select-box select {
    width: 100%;
    font-size: 24px;
  }
</style>
 <div class="select-box">
        <form>
            <label for="songs-select">Select one song:</label>
            <select id="songs-select" size="{{ songs|length }}">
    {% for opcion in songs %}
      <option value="{{ opcion }}">{{ opcion }}</option>
    {% endfor %}
  </select>
  <button id="download" style="border-color: green; color: black; background-color: white; border-radius: 12px; border-width: 2px; height: 40px;">Descargar</button>
  <button id="play" style="border-color: green; color: black; background-color: white; border-radius: 12px; border-width: 2px; height: 40px;">Reproducir</button>
        </form>
    </div>
    <script>
  const selectElement = document.getElementById('songs-select');
  let selectedOption = '';
   selectElement.addEventListener('change', (event) => {
    selectedOption = event.target.value;
  });
</script>
  <script>
        const play = document.querySelector('#play');
        const download = document.querySelector('#download');
        const sb = document.querySelector('#songs-select');

        play.onclick = (e) => {
            e.preventDefault();
            const selectedValues = [].filter
                .call(sb.options, option => option.selected)
                .map(option => option.text);
             fetch("/on_play_click",{
        "method": "POST",
        body: JSON.stringify({ selectedValues: selectedValues }),
        headers: {
            "Content-Type": "application/json"
        }
    })
        .then(response => response.json())
        .then(data => {
            // Handle the success response
        })
        .catch(error => {
            // Handle the error
        });
    };
        download.onclick = (e) => {
            e.preventDefault();
            const selectedValues = [].filter
                .call(sb.options, option => option.selected)
                .map(option => option.text);
             fetch("/on_download_click",{
        "method": "POST",
        body: JSON.stringify({ selectedValues: selectedValues }),
        headers: {
            "Content-Type": "application/json"
        }
    })
        .then(response => response.json())
        .then(data => {
            // Handle the success response
        })
        .catch(error => {
            // Handle the error
        });
      };
    
    </script>

    <div class="text-center">
<form action="/on_stop_click" method="post">
        <button style="border-color: green; color: black; background-color: white; border-radius: 12px; border-width: 2px; height: 40px;">Parar</button>
      </form>
    </div>
<h1>
      <div class="list-group">
            <a href="/upload_song" class="list-group-item list-group-item-success active">
                <h4 class="list-group-item-heading">Subir canciones</h4>
            </a>
        </div>
      </h1>
{% endblock %}